body {
    margin: 0;
}

#UI {
    position: absolute;
    color: yellow;
    left: 0;
    top: 0;
    border: 1px solid yellow;
    padding: 0.5rem;
    font-family: monospace;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: yellow;
    margin: 0.5rem 0;
}

#UI, #title {
    font-weight: bold;
}

/* Styles Healthbar to have no thumb for Chrome, Edge, Safari, Brave Web-Kit*/

input[type='range'] {
    height: 12px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type='range']:focus {
    outline: none;
  }

 input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    background: #333333;
    overflow: hidden;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 12px;
    -webkit-appearance: none;
    background: #333333;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 0;
    -webkit-appearance: none;
    height: 12px;
    cursor: ew-resize;
    background: transparent;
    box-shadow: -100px 0 0 100px #4194e2;
  }
  /* Removing healthbar thumb for players on FireFox*/
  input[type='range']::-moz-range-track {
    width: 100%;
    height: 12px;
    background: #333333;
  }
  input[type='range']::-moz-range-thumb {
    opacity: 0;
  }
  input[type='range']::-moz-range-progress {
    height: 12px;
    background: #4194e2;
  }

  #name {
    margin-bottom: 2rem;
    background-color: black;
    color: yellow;
  }

  #name::placeholder {
    color: yellow;
    opacity: .2;
  }

  #name-title {
    margin-top: 1rem;
  }

  #intro-screen, #game-over-screen, #instructions{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: black;
    color: yellow;
    font-family: monospace;
    z-index: 10;
  }
  
  #pause-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: none;
    color: yellow;
    font-family: monospace;
    z-index: 10;
  }

  #game-over-screen, #pause-screen, #instructions {
    display: none;
}

  #intro-column, #game-over-column, #pause-column, #instruct-column, #loading-title, #highscore-column {
    text-align: center;
  }

  #intro-title, #game-over-title, #pause-title, #instructions-title, #loading-title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  #highscore-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #highscore {
    margin-bottom: 1rem;
  }

  #start-button, #replay-game-button, #end-pause-button, #instruct-button, #back-to-start-button {
    background-color: black;
    border: 1px solid yellow;
    border-radius: 100%;
    padding: 0.5rem;
    color: yellow;
    font-family: monospace;
    cursor: pointer;
  }

  #replay-game-button, #back-to-start-button {
      padding-top: 0.3rem;
  }

  #start-button:hover, #replay-game-button:hover, #end-pause-button:hover, #instruct-button:hover, #back-to-start-button:hover {
    background-color: #302b5e;
  }

  #start-button:active, #replay-game-button:active, #end-pause-button:active, #instruct-button:active, #back-to-start-button:active {
    background-color: #0f0a49;
  }

  #distance-row, #score-row, #game-over-score-row, #game-over-distance-row, #pause-score-row, #pause-distance-row {
    display: flex;
}

#score, #distance, #game-over-score, #game-over-distance, #pause-score, #pause-distance, #how-to-row {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

#loading-title {
  position: relative;
  top: 200px;
  margin-bottom: 0;
}

#loading-screen {
	position: absolute;
	z-index: 11;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
  visibility: visible;
}

#loading-screen.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 5s, opacity 0.1s liner;
    /* display: none; */
}

#loader-hidden {
  display: none;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: yellow;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: orange;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: yellow;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;

}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.score-popup {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: score-popup 1s ease-in-out;
  animation-iteration-count: 1;
  font-size: 30px;
  color: yellow;
}

.health-popup, .health-bonus-popup {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: score-popup 1s ease-in-out;
  animation-iteration-count: 1;
  font-size: 30px;
  color: red;
}


@keyframes score-popup {
  0% {
    top: 33%;
    opacity: 1;
  }
  100% {
    top: 25%;
    opacity: 0;
  }
}